doctype html

html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        title REDHOOD 
        link(rel='stylesheet' href='style.css')
    body
        .container
            .painting.section
                h2
                    span.first P
                    span ainting
                ul
                    each item in painting
                        li
                            a(href='http://www.pixiv.net/member_illust.php?mode=medium&illust_id=#{item.id}' target='_blank')
                                img(src='#{item.cover}' alt='#{item.name}')
            .project.section
                h2
                    span.first P
                    span roject
                ul
                    each item in project
                        li
                            a(href="#{item.url}")
                                span.name #{item.name}
                            p.
                                #{item.desc}
            .article.section
                h2
                    span.first A
                    span rticle
                ul
                    each item in article
                        li
                            a(href="#{item.url}" target="_blank")= item.title
            .contact.section
                h2
                    span.first C
                    span ontact
                p Email: surunzi@foxmail.com